.landing-hero {
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.landing-overlay {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  backdrop-filter: blur(2px);
}

.landing-logo {
  width: 130px;

  margin-bottom: 25px;

  animation: zoom 1s;
}

.landing-overlay h1 {
  color: #222;

  font-size: 48px;

  margin-bottom: 15px;
}

.landing-overlay p {
  letter-spacing: 4px;

  color: #555;

  font-size: 18px;
}
